<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <style>
        body{
            background-color:rgb(62, 43, 43);

        }
        ul{
            color: aliceblue;
        }
        a{
            color: red;
        }
        h1{
            color: aliceblue;
        }
        form{
            color: aliceblue;
        }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>